<footer class="footer">
  <div class="footer__container container">
    <div class="footer__wrapper">
      <div class="footer__logo logo">
        <img src="images/global/logo_d.png" alt="Логотип" />
      </div>
      <nav class="footer__nav">
        <ul class="footer__nav-list">
          <li class="footer__nav-list_item">
            <a class="footer__nav-list_item_link scroll" href="#about">О нас</a>
          </li>
          <li class="footer__nav-list_item">
            <a class="footer__nav-list_item_link scroll" href="#partnership"
              >Условия партнерства</a
            >
          </li>
          <li class="footer__nav-list_item">
            <a class="footer__nav-list_item_link scroll" href="#make-friends"
              >Стать партнером</a
            >
          </li>
          <li class="footer__nav-list_item">
            <a class="footer__nav-list_item_link scroll" href="#feedback"
              >Отзывы</a
            >
          </li>
        </ul>
        <div class="footer__nav-social__wrapper">
          <a href="tel:74959259042" class="footer__nav-link">7 495 925-90-42</a>
          <div class="social-group">
            <a href="#" class="social social--size social--circle"
              ><svg class="icon">
                <use xlink:href="svg-sprite/sprite.svg#wats"></use></svg
            ></a>
            <a href="#" class="social social--size social--circle"
              ><svg class="icon">
                <use xlink:href="svg-sprite/sprite.svg#wb"></use></svg
            ></a>
            <a href="#" class="social social--size social--circle"
              ><svg class="icon">
                <use xlink:href="svg-sprite/sprite.svg#ig"></use></svg
            ></a>
          </div>
        </div>
      </nav>
    </div>
  </div>
</footer>
