.intro {
  .wrapper {
    display: flex;
    flex-direction: column;
    margin-top: size(15);
    @include media(lg) {
      flex-direction: row;
      margin-top: size(105);
    }
    .intro__title-wrapper {
      margin-top: size(16);
      @include media(lg) {
        margin-top: size(106);
      }
      .intro__title {
        text-align: center;
        @include media(lg) {
          width: 90%;
          text-align: left;
        }
      }
      .btn {
        margin-top: size(15);
        @include media(lg) {
          height: size(97);
          margin-top: size(27.5);
        }
      }
    }
    .intro__video-wrapper {
      position: relative;
      width: 100%;
      height: 227px;
      margin-top: size(15);
      @include media(md) {
        height: 560px;
      }
      @include media(lg) {
        height: 672px;
      }
      &_container {
        position: absolute;
        top: 0;
        left: -20px;
        width: 112%;
        height: 100%;
        @include media(md) {
          left: -60px;
          width: 118%;
        }
        @include media(lg) {
          left: 0;
          width: 159.5%;
        }

        .intro__video {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          background-image: url(../images/intro/intro_d.jpg);
          background-repeat: no-repeat;
          background-size: cover;
          &-btn {
            position: relative;
            display: flex;
            width: 105px;
            height: 105px;
            border-radius: 50%;
            span {
              width: 93.4px;
              height: 93.4px;
              border: 1px solid #fff;
              border-radius: 50%;
            }
            .icon {
              position: absolute;
              top: 50%;
              left: 55%;
              transform: translate(-50%, -50%);
              width: 30px;
              height: 35px;
            }
            @include media(lg) {
              width: 253px;
              height: 253px;
              span {
                width: 225px;
                height: 225px;
              }
              .icon {
                width: 72px;
                height: 84px;
              }
            }
          }
        }
      }
    }
  }

  &__features {
    position: relative;
    z-index: 2;
    width: 100%;
    padding: size(40) size(51);
    color: #fff;
    margin-top: size(-30);
    background-color: $color-plum;
    @include media(lg) {
      padding: size(138) size(78);
      margin-top: size(-110);
    }
    &-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      @include media(md) {
        flex-direction: row;
        justify-content: space-between;
      }

      &-item {
        &:not(:first-child) {
          margin-top: size(15);
          @include media(md) {
            margin-top: size(0);
          }
        }
      }
    }
  }
}
