$btn-bg: #fde989;
$btn-bg-hover: #f4e07d;
$btn-color: #292929;
$btn-color-hover: #292929;
$btn-color-outline: currentColor;

.btn {
  position: relative;
  text-decoration: none;
  transition-duration: $td;
  letter-spacing: 2px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
