.text {
  &__size {
    &-sm {
      font-size: size(12);
      @include media(lg) {
        font-size: size(14);
      }
    }
    &-md {
      font-size: size(14);
      @include media(lg) {
        font-size: size(24);
      }
    }
    &-lg {
      font-size: size(24);
      @include media(lg) {
        font-size: size(42);
      }
    }
  }
}
