//$animationDelay:(
//    value:(100, 250),
//    bp:('default', 'lg'),
//);
//* Формат
//* 'fadeIn': (         // Имя анимации
//*     active: true,   // Вывод анимации
//*     bp: ('default') // Перечесление контрольных точек (default, sm, md, lg, hg)
//* ),

$animation: (
  "fadeIn": (
    active: true,
    bp: (
      "default",
      "lg",
    ),
  ),
  "fadeInUp": (
    active: true,
    bp: (
      "default",
    ),
  ),
  "fadeInDown": (
    active: true,
    bp: (
      "default",
    ),
  ),
  "fadeInLeft": (
    active: true,
    bp: (
      "default",
    ),
  ),
  "fadeInLeftBottom": (
    active: false,
    bp: (
      "default",
    ),
  ),
  "fadeInLeftTop": (
    active: true,
    bp: (
      "default",
    ),
  ),
  "fadeInRight": (
    active: false,
    bp: (
      "default",
    ),
  ),
  "fadeInRightBottom": (
    active: false,
    bp: (
      "default",
    ),
  ),
  "fadeInRightTop": (
    active: false,
    bp: (
      "default",
    ),
  ),
  "buzz-out": (
    active: true,
    bp: (
      "default",
    ),
  ),
  "orbit": (
    active: true,
    bp: (
      "default",
    ),
  ),
  "slideInUp": (
    active: true,
    bp: (
      "default",
    ),
  ),
  "slideInDown": (
    active: true,
    bp: (
      "default",
    ),
  ),
);
