$color-primary: #fde989;
$color-primary-hover: #f4e07d;
$color-primary-active: #efd868;
$color-secondary: #745670;
$color-secondary-hover: #644560;
$color-secondary-active: #4c3449;
//$color-black:;
//$color-grey:;
//$color-white:;
