<section id="about" class="about">
  <div class="container">
    <h2 class="about__title title title--size-lg wow fadeIn">О нас</h2>
    <div class="about__wrapper grid">
      <div class="about__wrapper-content col-6@lg wow fadeInUp">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#routing"></use>
        </svg>
        <h4 class="about__wrapper-content__title title--size-sm">
          Четыре региона присутствия
        </h4>
        <p class="about__wrapper-content__text wow faweIn">
          На сегодняшний день наша мебель представлена фирменными салонами в
          Краснодаре, Москве, Санкт-Петербурге, Екатеринбурге и Перми.
        </p>
      </div>
      <div class="about__wrapper-content col-6@lg wow fadeInUp">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#earth"></use>
        </svg>
        <h4 class="about__wrapper-content__title title--size-sm">
          Наша мебель в 80 регионах
        </h4>
        <p class="about__wrapper-content__text wow faweIn">
          Мы работаем и удаленно, поэтому наши заказчики есть практически в
          каждом регионе страны. И в Калининграде, и на Сахалине
        </p>
      </div>
      <div class="about__wrapper-content col-6@lg wow fadeInUp">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#pen"></use>
        </svg>
        <h4 class="about__wrapper-content__title title--size-sm">
          Уникальный товар
        </h4>
        <p class="about__wrapper-content__text wow faweIn">
          Заказчики идут к нам за дизайном и необычным, очень прочным
          материалом, – фанерой. Дизайн мебели — наш конек. У нас есть даже
          собственная школа дизайнеров.
        </p>
      </div>
      <div class="about__wrapper-content col-6@lg wow fadeInUp">
        <svg class="icon">
          <use xlink:href="svg-sprite/sprite.svg#rank"></use>
        </svg>
        <h4 class="about__wrapper-content__title title--size-sm">
          Низкая конкуренция
        </h4>
        <p class="about__wrapper-content__text wow faweIn">
          Открывая фирменный салон «Песочницы», можете быть уверены – в вашем
          городе это будет единственный салон подобного рода, а сотрудники
          соседних мебельных магазинов будут ходить к вам, как в музей
        </p>
      </div>
    </div>
  </div>
</section>
