<section id="intro" class="intro">
  <div class="container">
    <div class="wrapper">
      <div class="intro__title-wrapper">
        <h2 class="intro__title title title--size-md">
          Станьте партнёром студии детской мебели «Песочница»
        </h2>
        <button
          class="btn btn--primary btn--size-md wow fadeInLeft"
          data-modal-open="modal-form"
        >
          ОТПРАВИТЬ ЗАЯВКУ
        </button>
      </div>
      <div class="intro__video-wrapper">
        <div class="intro__video-wrapper_container">
          <div class="intro__video wow fadeInUp">
            <button
              class="btn btn--primary intro__video-btn"
              data-modal-open="modal-video"
            >
              <span> </span>
              <svg class="icon">
                <use xlink:href="svg-sprite/sprite.svg#triangle"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="intro__features wow fadeInDown">
      <div class="intro__features-list">
        <div class="intro__features-list-item">
          <h4 class="intro__features-list-item__title title--size-lg">
            от 700.000
          </h4>
          <p class="intro__features-list-item__text text__size-md">
            инвестиции
          </p>
        </div>
        <div class="intro__features-list-item">
          <h4 class="intro__features-list-item__title title--size-lg">
            6-8 месяцев
          </h4>
          <p class="intro__features-list-item__text text__size-md">
            окупаемость
          </p>
        </div>
        <div class="intro__features-list-item">
          <h4 class="intro__features-list-item__title title--size-lg">
            от 700.000
          </h4>
          <p class="intro__features-list-item__text text__size-md">
            чистая прибыль
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
