<section id="make-friends" class="make-friends">
  <div class="container">
    <h2 class="make-friends__title title title--size-lg">
      Стань нашим партнёром просто
    </h2>
    <div class="make-friends__content">
      <div class="make-friends__content-item">
        <div class="icon_wrapper">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#fr_1"></use>
          </svg>
          <span>1</span>
        </div>
        <p class="make-friends__content-item_text">Знакомство</p>
      </div>
      <div class="make-friends__content-item">
        <div class="icon_wrapper">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#fr_2"></use>
          </svg>
          <span>2</span>
        </div>
        <p class="make-friends__content-item_text">Подписание договора</p>
      </div>
      <div class="make-friends__content-item">
        <div class="icon_wrapper">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#fr_3"></use>
          </svg>
          <span>3</span>
        </div>
        <p class="make-friends__content-item_text">2 дня стажировки</p>
      </div>
      <div class="make-friends__content-item">
        <div class="icon_wrapper">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#fr_4"></use>
          </svg>
          <span>4</span>
        </div>

        <p class="make-friends__content-item_text">
          Поиск и утверждение помещения
        </p>
      </div>
      <div class="make-friends__content-item">
        <div class="icon_wrapper">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#fr_5"></use>
          </svg>
          <span>5</span>
        </div>

        <p class="make-friends__content-item_text">
          Проектирование <br />
          и разработка образцов <br />
          для студии
        </p>
      </div>
      <div class="make-friends__content-item">
        <div class="icon_wrapper">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#fr_6"></use>
          </svg>
          <span>6</span>
        </div>

        <p class="make-friends__content-item_text">Отправка мебели</p>
      </div>
      <div class="make-friends__content-item">
        <div class="icon_wrapper">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#fr_7"></use>
          </svg>
          <span>7</span>
        </div>

        <p class="make-friends__content-item_text">Официальное открытие</p>
      </div>
    </div>
  </div>
</section>
