<section id="openning" class="openning">
  <div class="container">
    <h2 class="openning__title title title--size-lg">
      С момента открытия мы...
    </h2>
    <div class="openning__wrapper grid">
      <div class="openning__content col-5@lg">
        <div class="openning__content-item">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#size"></use>
          </svg>
          <p class="openning__content-item_text">Расширили цех до 1300 м2</p>
        </div>
        <div class="openning__content-item">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#people"></use>
          </svg>
          <p class="openning__content-item_text">
            Увеличили штат до 70 специалистов по всей стране
          </p>
        </div>
        <div class="openning__content-item">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#quill"></use>
          </svg>
          <p class="openning__content-item_text">
            Запустили швейный цех и серийное производство
          </p>
        </div>
        <div class="openning__content-item">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#emoji-happy"></use>
          </svg>
          <p class="openning__content-item_text">
            Обрели более 1000 довольных клиентов в России и Казахстане
          </p>
        </div>
        <div class="openning__content-item">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#status-up"></use>
          </svg>
          <p class="openning__content-item_text">
            Начали выпускать более 300 уникальных комплектов в год
          </p>
        </div>
        <div class="openning__content-item">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#geo"></use>
          </svg>
          <p class="openning__content-item_text">
            Осуществляем работу в 82 <br />
            регионах страны
          </p>
        </div>
      </div>
      <div class="openning__picture col-7@lg">
        <picture>
          <source
            srcset="images/openning/open_d.jpg"
            media="(min-width:768px)"
            type="image/jpg"
          />

          <source
            srcset="images/openning/open_m.jpg"
            media="(min-width: 320px) "
            type="image/jpg"
          />
          <img src="images/openning/open_d.jpg" alt="" />
        </picture>
        <a href="/" class="openning__link">
          <svg class="icon">
            <use xlink:href="svg-sprite/sprite.svg#arr_down"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
</section>
