<section id="partnership" class="partnership">
  <div class="container">
    <h2 class="partnership__title title title--size-lg wow fadeIn">
      Условия партнерства
    </h2>
    <div class="wrapper grid">
      <div class="partnership__picture col-6@lg wow fadeInUp">
        <picture>
          <source
            srcset="images/partnership/partner_d.png"
            media="(min-width:768px)"
            type="image/png"
          />
          <source
            srcset="images/partnership/partner_m.png"
            media="(min-width:320px)"
            type="image/png"
          />
          <img src="images/partnership/partner_d.png" alt="" />
        </picture>
      </div>
      <div class="partnership__content col-6@lg">
        <div class="partnership__content-item wow fadeInUp">
          <div class="partnership__content-item_line">
            <h4 class="partnership__content-item_title">Расположение</h4>
            <p class="partnership__content-item_text">
              Торговые центры или помещения с отдельным входом
            </p>
          </div>
        </div>
        <div class="partnership__content-item wow fadeInUp">
          <div class="partnership__content-item_line">
            <h4 class="partnership__content-item_title">Площадь салона</h4>
            <p class="partnership__content-item_text">От 25 кв.м.</p>
          </div>
          <div class="partnership__content-item_line">
            <h4 class="partnership__content-item_title">Инвестиции</h4>
            <p class="partnership__content-item_text">От 600 тысяч рублей</p>
          </div>
          <div class="partnership__content-item_line">
            <h4 class="partnership__content-item_title">Окупаемость</h4>
            <p class="partnership__content-item_text">8-10 месяцев</p>
          </div>
        </div>
        <div class="partnership__content-item wow fadeInUp">
          <div class="partnership__content-item_line">
            <h4 class="partnership__content-item_title">Реклама в интернете</h4>
            <p class="partnership__content-item_text">За наш счет</p>
          </div>
          <div class="partnership__content-item_line">
            <h4 class="partnership__content-item_title">
              Разработка проекта студии
            </h4>
            <p class="partnership__content-item_text">За наш счет</p>
          </div>
        </div>
        <div class="partnership__content-item wow fadeInUp">
          <div class="partnership__content-item_line">
            <h4 class="partnership__content-item_title">Обучение</h4>
            <p class="partnership__content-item_text">
              Стажировка, экскурсия на фабрику
            </p>
          </div>
        </div>
        <div class="partnership__content-item wow fadeInUp">
          <div class="partnership__content-item_line">
            <h4 class="partnership__content-item_title">Дизайн мебели</h4>
            <p class="partnership__content-item_text">
              Проектирование мы целиком берем на себя. Вам только нужны
              менеджеры, которые смогут грамотно представить наш продукт
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
